/* *****************************
BASE ELEMENT STYLES
***************************** */

/* body wrap to center content */
.wrap {
  max-width: 920px;
  margin: 0 auto;
}

h1 {
  color: #333;
}

p {
  color: #555;
}

/* *****************************
HEADER CONTENT
***************************** */

header {
  border-bottom: #ccc solid 15px;
  margin-top: 100px;
  position: relative;
}

.logo {
  display: block
  float: left;
  margin-top: 0;
  position: absolute;
  bottom: 30px;
  left: 0;
}

.logo_title {
  display: inline;
  font-family: 'Yellowtail', Helvetica, sans-serif;

  position: absolute;
  bottom: 17px;
  left: 45px;
}

.logo_tagline {
  color: #ccc;
  font-family: 'Dosis', Helvetica, sans-serif;
  font-size: 10px;

  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.social_icons {
  display: inline;
  float: right;
  position: absolute;
  right: 0;
  bottom: 30px;
}

/* *****************************
MAIN BODY CONTENT
***************************** */

section {
  padding-top: 40px;
  position: relative;
}

.blog_title {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    color: #333;
    padding-top:
    left: 0;
}

.blog_date {
    font-family: "Rajdhani", sans-serif;
    position: absolute;
    font-size: 14px;
    color: #ccc;
    left: 0;
    margin: 0;
    top: 110px;
}

.print {
  position: absolute;
  display: block;
  right: 0;

}
/*
.print p {
  position: absolute;
  display: inline-block;
  right: 0;
}*/

#chocopizza {
  max-width: 920px;
  margin: 0 auto;


}
/* *****************************
FOOTER CONTENT
***************************** */

.blog_info {
  border-top: #ccc solid 15px;
  position: relative;
}

.profileimg img{
  display: block;
  float: left;
  margin-left: 1%;
  position: relative;
}

.profileimg {
  padding-top: 50px;
}

.profile {
  font-family: "Slabo", serif;

}
.writer_name {
  font-size: 20px;
  padding-left: 2%;
  display: inline;
  text-align: left;
  margin-top: 0;
  position: relative;
}

.profile p {
  left: 2%;
  font-size: 18px;
  position: relative;
  width: 75%;

}
#button {
  background-color: #bc7058;
  color: white;
  position: relative;
  margin: 0 auto;
  padding: 2% 4% 2% 4%;
  border: none;
  float: right;
  right: 0;
  display: inline;
  bottom: 75px;
  width: 193px;

}

#footer {
  clear: both;
  position: relative;
}

#footer img{

  padding: 0;
  z-index: 10;
  position: absolute;
  right: 49%;
  bottom: 28px;
}
#lefthr {
  width: 100%;
  float: left;
  color: #999999;
  margin: auto 0;
  padding: 0;
  z-index: 1;

}

#footer p {
  text-align: center;
  position: relative;
  top: 40px;
  color: #555;
  font-size: 12px;
}
